:root {
  --primary_color: #d90b4c;
  --secondary_color: #0b212a;
  --orange_color: #f25334;
  --white_color: rgb(255, 255, 255);
  --background_color: #f1f3f2;
}

.about_header_bg {
  height: 100vh;
  background-color: white;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  padding-top: 150px;
}

.about_header_title {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: white;
}

.about_header_image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 30px solid white;
  box-shadow: 0 0 0 30px var(--primary_color);
}

.about_rating {
  color: white;
  font-size: 30px;
  margin-right: 15px;
}

.about_rating_title {
  color: white;
}

/* More About us title  */
.more_title {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--secondary_color);
}

.founder_title {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary_color);
}

.founder_image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.founder_span {
  color: var(--primary_color);
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}

.founder_name_span {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}

.founder_words {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400 Italic;
  font-style: normal;
  font-size: 18px;
}

/* Contact Banner  */
.about_banner_image {
  height: 600px;
  width: 100%;
  object-fit: contain;
}

.about_banner_title {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.about_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
